<div class="flex items-center justify-center w-full h-screen ">
    <form [formGroup]="loginForm" class="flex flex-col gap-4 bg-surface-200 w-[350px] lg:w-[500px] lg:p-10 p-5 rounded-2xl border border-3 border-primary container" (ngSubmit)="onSubmit()">
        <p class="text-3xl font-bold text-center text-primary">Login</p>
        <label>
            <input
            class="w-full p-3 border rounded-md outline-none border-1 border-surface-50 text-md"
            type="text"
            placeholder="username"
            formControlName="username">
        </label> 
        <label>
            <input
            class="w-full p-3 border rounded-md outline-none border-1 border-surface-50 text-md"
            type="password"
            placeholder="Password"
            formControlName="password">
        </label>
        <button class="p-3 border-none rounded-md bg-primary text-md text-surface-0">Login</button>
        <p class="text-sm text-center text-primary-400">Doesn't have an account ? <a routerLink="/register">Register</a> </p>
    </form>
</div>
