<nav class="px-6 py-4 mx-12 my-8 shadow-2xl rounded-xl lg:rounded-full bg-surface-200 border-primary font-alex">
  <div class="container relative flex flex-wrap items-center justify-between w-full mx-auto">
    <!-- Logo -->
    <div class="z-10 text-lg font-bold text-primary hover:cursor-pointer" routerLink="/welcome" >
      <h1>{{'Event Store'|uppercase}}</h1>
    </div>

    <!-- Hamburger Button (Mobile) -->
    <p-button class="z-10 lg:hidden" (click)="isMenuOpen = !isMenuOpen">
      <i class="pi pi-bars" *ngIf="!isMenuOpen"></i>
      <i class="pi pi-times" *ngIf="isMenuOpen"></i>
    </p-button>

    <!-- Buttons -->
    <div class="z-10 hidden gap-2 text-sm lg:flex">
      <a routerLink="/login" class="w-[120px] h-[40px] border border-primary text-primary flex justify-center items-center rounded-md" *ngIf="!isAuthorized">Login</a>
      <a routerLink="/register" class="w-[120px] h-[40px] bg-primary text-surface-0 flex justify-center items-center rounded-md" *ngIf="!isAuthorized">Register</a>
      <a routerLink="/dashboard" class="w-[120px] h-[40px] border border-primary text-primary flex justify-center items-center rounded-md" *ngIf="isAuthorized&&isAdmin">Dashboard</a>
      <button class="w-[120px] py-2 text-center border rounded-md border-rose-500 text-rose-500" *ngIf="isAuthorized" (click)="logout()">Logout</button>
      <button class="flex items-center p-2 border-none cursor-pointer" (click)="toggleDarkTheme()">
            <span class="pi pi-sun" *ngIf="!isDarkMode"></span>
            <span class=" pi pi-moon" *ngIf="isDarkMode"></span>
      </button>
    </div>

    <!-- Mobile Menu -->
    <div *ngIf="isMenuOpen" class="order-3 w-full mt-4 border-t bg-footer border-primary lg:hidden">
      <div class="flex flex-col w-full px-4 py-4 space-y-3 text-surface-0">
        <a routerLink="/login" class="w-full py-2 text-center border rounded-md border-primary text-primary" *ngIf="!isAuthorized">Login</a>
        <a routerLink="/register" class="w-full py-2 font-medium text-center rounded-md text-surface-0 bg-primary" *ngIf="!isAuthorized">Register</a>
        <a routerLink="/dashboard" class="w-full py-2 text-center border rounded-md border-primary text-primary" *ngIf="isAuthorized&&isAdmin">Dashboard</a>
        <button class="w-full py-2 text-center border rounded-md border-primary text-primary" *ngIf="isAuthorized">Logout</button>
        
        <div class="flex justify-between w-full py-2">
          <button class="flex items-center p-2 bg-transparent border-none cursor-pointer" (click)="toggleDarkTheme()">
            <span class="px-4 py-2 border rounded-md border-main text-primary pi pi-sun" *ngIf="!isDarkMode"></span>
            <span class="px-4 py-2 border rounded-md pi pi-moon border-main text-primary" *ngIf="isDarkMode"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
