<div class="flex flex-col px-12">
    <img class="min-w-full img  bg-black rounded-[56px]  info" src="https://d3vzzcunewy153.cloudfront.net/img/17f95c00-4ab0-492d-94a6-3a647e5ea2fe/41b7b12c4712eb5f157f6b635c157241.jpg">
    <div class="flex items-center justify-between p-4">
        <div class="left">
            <h1 class="text-3xl font-bold text-primary-emphasis">{{event.title}}</h1>
            <p class="my-2 text-xl">{{event.date}} | {{event.time}}</p>
            <p class="text-lg">{{event.location}}</p>
        </div>
        <div class="right">
            <p-button label="Book Now" icon="pi pi-ticket" rounded="true" class="text-lg" size="large"/>
        </div>
    </div>
</div>
