<div class="dashboard-layout">
  <aside>
    <nav>
      <ul>
        <li>
          <i class="mr-2 pi pi-home"></i>
          <span class="label">Home</span>
        </li>
        <li>
          <i class="mr-2 pi pi-plus"></i>
          <span class="label">Add Event</span>
        </li>
        <li>
          <i class="mr-2 pi pi-home"></i>
          <span class="label">Show Events</span>
        </li>
        <li>
          <i class="mr-2 pi pi-sign-out"></i>
          <span class="label">Logout</span>
        </li>
      </ul>
    </nav>
  </aside>

  <main>
    <app-add-event></app-add-event>
    </main>
</div>
