<div class="dashboard-layout">
  <aside>
    <nav>
      <ul>
        <li>
          <i class="mr-2 pi pi-home"></i>
          <button class="label" (click)="home()">Home</button>
        </li>
        <li [ngClass]="{'bg-surface-100':option==1}">
          <i class="mr-2 pi pi-eye" ></i>
          <button class="label" (click)="option=1">Show Events</button>
        </li>
        <li [ngClass]="{'bg-surface-100':option==2}">
          <i class="mr-2 pi pi-plus"></i>
          <button class="label" (click)="option=2">New Event</button>
        </li>
        <li class="text-rose-500">
          <i class="mr-2 pi pi-sign-out"></i>
          <button class="label" (click)="logout()">Logout</button>
        </li>
      </ul>
    </nav>
  </aside>

  <main> 
    @switch (option) {
    @case (1) {
      <app-show-events></app-show-events>
    }
    @case (2) {
    <app-add-event></app-add-event>
    }
  }
    </main>
</div>
