<div class="flex items-center justify-center w-full h-screen">
    <form class="flex flex-col gap-4 bg-surface-200 w-[350px] lg:w-[500px] lg:p-10 p-5 rounded-2xl border border-3 border-primary container">
        <p class="text-3xl font-bold text-center text-primary">Register</p>
            <label>
                <input class="w-full p-3 border rounded-md shadow-sm outline-none border-1 border-surface-50 text-md" type="text" placeholder="First name" required="">
            </label>
                
        <label>
            <input class="w-full p-3 border rounded-md shadow-sm outline-none border-1 border-surface-50 text-md" type="email" placeholder="Email" required="">
        </label> 
            
        <label>
            <input class="w-full p-3 border rounded-md shadow-sm outline-none border-1 border-surface-50 text-md" type="password" placeholder="Password" required="">
        </label>
        <label>
            <input class="w-full p-3 border rounded-md shadow-sm outline-none border-1 border-surface-50 text-md" type="password" placeholder="Confirm password" required="">
        </label>
        <button class="p-3 border-none rounded-md bg-primary text-md text-surface-0">Submit</button>
        <p class="text-sm text-center text-primary-400">Already have an acount ? <a href="#">Signin</a> </p>
    </form>
</div>
